.hotel-card {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.5fr;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
    max-width: 950px;
    background-color: #ffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s;
}

.hotel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hotel-info {
    grid-column: 2;
    padding: 0 20px;
}

.hotel-name {
    font-size: 20px;
    color: #333;
}

.hotel-details {
    font-size: 14px;
    color: #666;
}

.hotel-stars {
    color: #FFD700;
    font-size: 28px;
    margin-bottom: 5px; /* Añade margen inferior para separarlas */
    letter-spacing: 2px;
}

.viewMore-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-column: 3;
    background-color: black;
    padding: 10px;
    text-align: center;
    align-items: center;
    color: white;
}

.reservations{
    padding-top: 10%;
}

.Button {
    padding: 0.8em 1.8em;
    border: 2px solid #4b0707;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
}

.Button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.Button:hover::before {
    width: 105%;
}

.Button:hover {
    color: black;
}

@media (max-width: 768px) {
    .hotel-card {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .hotel-info {
        grid-column: 1;
        padding: 10px 0;
    }

    .price-box {
        grid-column: 1;
        margin-top: 10px;
    }

    .hotel-card img {
        height: 150px;
    }

    .hotel-name {
        font-size: 18px;
    }

    .hotel-details, .hotel-stars, .price-container .price {
        font-size: 12px;
    }
}
