.auth-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/fondo-2.jpeg') center/cover no-repeat;
}

.auth-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

.auth-form-container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    box-shadow: 10px 10px 10px #0b336b;
    padding: 25px;
    background: rgba(255, 255, 255, 0.9);
}

.auth-container>div {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    box-shadow: 10px 10px 10px #0b336b;
    padding: 25px;
}


.register-container {
    height: 500px;
}

.auth-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form-label {
    width: 100%;
    font-weight: 500;
    margin-bottom: 5px;
}

.auth-form input,
.auth-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.auth-form button {
    cursor: pointer;
    background-color: #0b336b;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%;
    max-width: 410px;
    height: 40px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s;
    line-height: 20px;
}

.auth-form button:hover {
    opacity: 0.8;
}

.auth-form button:disabled {
    opacity: 0.3;
}

.auth-form-switch-label {
    color: #2b7df0;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    padding-top: 10px;
}

.auth-form-switch-label:hover {
    opacity: 0.8;
}

.auth-form-validation-message {
    width: 100%;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* LOGO LOGIN*/

.auth-form-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo-image {
    width: 70%;
    height: auto;
}

.logo-text {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}