.dashboard-container {
    width: 100%;
    height: 100vh;
}

.nav-container {
    position: absolute;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(41, 37, 37);
    box-shadow: 0 0 5px 0 rgb(61, 61, 61);
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    align-items: center;
}

.sidebar-container {
    position: absolute;
    height: calc(100vh - 50px);
    top:50px;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #2f2f30;
    display: flex;
    flex-direction: column;
}

.nav-logo-container {
    width: 30px;
    margin-left: 10px;
}

.nav-button {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    color: #d2d2dd;
    cursor: pointer;
    transition: 0.3s;
}

.nav-button:hover {
    opacity: 0.7;
}

.nav-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.sidebar-title {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 1cqmax;
    color: #0e0e10;
}

.sidebar-subtitle {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    color: #0e0e10;
}

.sidebar-list-item {
   display: flex;
   width: 100%;
   margin-top: 10px;
   justify-content: space-between;
   align-items: center;
   color: #9b9797;
}

.sidebar-list-username {
    font-size: 18px;
    margin-left: 10px;
    color: #8f8f94;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-list-username:hover {
    opacity: 0.7;
}

.sidebar-list-status {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    color: #0e0e10;
    cursor: pointer;
    transition: 0.3s;
}

.content-container {
    position: absolute;
    height: calc(100vh - 50px);
    width: calc(100vw - 200px);
    left: 200px;
    right: 0;
    top: 50px;
    overflow-x: hidden;
}

.settings-container {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 20px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0 lightgrey;
    background-color: rgb(28, 128, 194);
    width: 400px;
    padding: 10px;
    font-size: 16px;
}

.settings-form button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #0b336b;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.settings-form button:hover {
    opacity: 0.7;
}

.settings-form button:disabled {
    opacity: 0.3;
}


.settings-stream-key-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0 0 5px 0 lightgrey;
    background-color: #2f2f30;
    padding: 10px;
}

.spinner-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}